/* common */
.container {
  margin: 20px auto;
  padding: 0 20px;
}

/* top */
.jumbotron {
  text-align: center;
  margin-bottom: 20px;
}

.twitter-widget {
  max-width: 540px;
  margin: auto;
}

/* form */
.update-form {
  text-align: center;
}

.image-selector {
  margin: 0 auto 20px;
  padding: 20px;
  max-width: 400px;
  background-color: #F8F8F8;
  border: solid 1px #e7e7e7;
  text-align: center;
  cursor: pointer;
}

.image-selector:hover {
  background-color: #F0F0F0;
}

.image-selector img {
  width: 100%;
  max-height: 100%;
}

input.file-input {
  display: none;
}

.submit {
  display: none;
  margin: auto;
}
